$baseColor: #0089ff;
$baseHeight: 70vh;

#organManage {
  width: 100%;

  .organ-body {
    display: flex;
    margin: 0 auto;
    width: 68%;
    height: $baseHeight;
    background-color: pink;

    .body-left {
      width: 260px;
      height: $baseHeight;
      background-color: #f4f6f8;

      .left-item1 {
        .el-form {
          width: 80%;
          margin: 25px auto;
          //   background-color: gray;
        }
      }

      .left-item2 {
        width: 80%;
        height: 30px;
        margin: 0 auto;
        background-color: $baseColor;
        border-radius: 50px;
        #item2-p {
          color: #fff;
          font-size: 0.9em;
          text-align: center;
          line-height: 30px;
        }
      }
    }

    .body-right {
      width: calc(100% - 260px);
      height: $baseHeight;
      background-color: #fff;
      position: relative;
      transition: .4s;
      //没组织时
      .right-item-null {
        width: 60%;
        margin: 0 auto;
        //   background-color: pink;
        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        #orgFlag-img {
          width: 130px;
        }

        #orgFlag-p {
          font-size: 0.9em;
          margin: 10px 0 0;
        }
      }

      //有组织时
      .right-item {
        width: 94%;
        height: 90%;
        margin: 0 auto;
        // background-color: pink;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        //公共class
        .public-add-p1 {
          font-size: 1.1em;
        }

        .public-add-p2 {
          font-size: 0.8em;
          // margin: 5px 0;
        }

        .head-add {
          display: flex;
          align-items: center;
          // margin: 10px 0;

          & p:nth-child(2) {
            margin: 0 10px 0;
          }
        }

        .item-img {
          height: 25px;
        }

        //
        .item-cont1,
        .item-cont2 {
          height: 20%;
          // background-color: pink;
          border-bottom: 1px solid gainsboro;
          // margin: 20px 0 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }

        .item-title {
          #title-p1 {
            font-size: 1.3em;
            margin: 20px 0;
          }
        }

        .item-foot {
          // margin: 5px 0 ;
          .foot-oper {
            display: flex;
            .el-button{
              margin: 15px 10px 0 0;
            }
          }
        }
      }
    }
  }
}
